body{
  background-color: "#f8f9fd";
}

.background3 {
  position: relative;
  padding: 0;
  background-image: url("../../assets/bg1.jpg");
  background-size: cover;
  background-position: center;
  color: rgba(7, 3, 3, 0); 
  height: 830px; 
}
